*,*::before,*::after{box-sizing:border-box}ul[class],ol[class]{padding:0}body,h1,h2,h3,h4,p,ul[class],ol[class],figure,blockquote,dl,dd{margin:0}body{min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5}ul[class],ol[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}img:not([alt]){filter:blur(10px)}@media(prefers-reduced-motion:reduce){*{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

body#loginBody{
	background: url('../images/KingSun.jpg') no-repeat center center fixed;
	background-size: cover;
}
body{	
	font-family: arial;
}

div.loginHeader{
	text-align: center;
}

.alignLeft{
	text-align: left;
}

div.loginHeader{
	margin-bottom: 40px;
}
div.loginHeader h1{
	font-size: 100px;
	color:#f685a2;
	padding:0px;
	margin:0px;
}

div.loginHeader p{
	color: cyan;
	background: #375f74;
	font-size: 50px;
	margin:0px;
	text-transform: uppercase;
	display: block;
}

div.loginHeader p:after{
	content:'';
	display: block;
	height: 5px;
	background: #000000;
	margin:0 auto;
}

div.loginBody form{
	margin:0 auto;
	width: 450px;
	background: rgba(0,0,0,.5);
	padding:50px;
	border:2px solid #fff;
	border-radius: 8px;
}





/*login style*/
.mustBeCenter{
	display: flex;
    flex-direction: column;
    align-items: center; /* Add this line to center align the content horizontally */
    justify-content: center;
}
.form-control {
	position: relative;
	margin: 20px 0 40px;
	width:190px;
}

.form-control input {
	background-color: transparent;
	border: 0;
	border-bottom: 5px #fff solid;
	display: block;
	width: 100%;
	padding:15px 0;
	font-size: 15px;
	color: #fff;
}
	
.form-control i,
.form-pass i {
    position: absolute;
	color: orange;
    top: 40%;
    left: 0px;
    transform: translateY(-50%);
	padding: 0 180px;
}

.form-control input,
.form-pass input{
	padding-left: 5px;
}

.form-control input:focus,
.form-control input:valid {
	outline: 0;
	border-bottom-color: #c8c8c8;
}

.form-control label{
	position: absolute;
	top: 15px;
	left: 0;
	pointer-events: none;
}

.form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	color: #fff;
	-webkit-transition: 
	0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition:
	0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
	color: #c8c8c8;
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.form-pass {
	position: relative;
	margin: 20px 0 40px;
	width:190px;
	margin-top: 10px;
}

.form-pass input {
	background-color: transparent;
	border: 0;
	border-bottom: 5px #fff solid;
	display: block;
	width: 100%;
	padding:15px 0;
	font-size: 15px;
	color: #fff;
}

.form-pass input:focus,
.form-pass input:valid {
	outline: 0;
	border-bottom-color: #c8c8c8;
}

.form-pass label{
	position: absolute;
	top: 15px;
	left: 0;
	pointer-events: none;
}

.form-pass label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	color: #fff;
	-webkit-transition: 
	0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition:
	0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-pass input:focus+label span,
.form-pass input:valid+label span {
	color: #c8c8c8;
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}


.loginAsContainer {
	margin-bottom: 10px;
  }
  
  .loginAsContainer label {
	display: block;
	color: white;
	margin-bottom: 5px;
  }
  
  .checkboxContainer {
	display: flex;
	align-items: center;
	color: cyan;
	margin-bottom: 5px;
  }
  
  .checkboxContainer input[type="checkbox"] {
	margin-right: 5px;
  }
  
  .loginButtonContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	
  }
  

  .forgotPasswordContainer {
    text-align: center;
    margin-top: 10px;
	background-color: #cdcdcd;
	border-radius: 15px;
}
  

div.loginInputsContainer{
	margin-top:30px;
}

div.loginInputsContainer label{
	display: block;
	text-transform: uppercase;
	font-size: 20px;	
	font-weight: bold;
	color:#fff;
}

div.loginInputsContainer input{
	height: 30px;
	width:100%;
	border:2px solid #d40339;
	font-size:20px;
	padding:5px;
	text-align: center;
	font-style: italic;
}


div.loginButtonContainer button{
	font-size: 20px;
	padding: 10px 40px;
	background: #f685a2;
	border:none;
	color: black;
}

div.loginButtonContainer a{
	padding-top: 16px;
	color: whitesmoke;
}

div.loginButtonContainer button:hover{
	border-radius: 15px;
	background-color:darkgoldenrod;
	transition: 0.5s all;
} 




/*Index home page*/
div.header{
	width:100%;
	background: yellow;
	padding:10px 0px;
	text-align: right;
}
div.header a{
	font-size: 20px;
	color:#000000;
	padding: 5px 10px;
	text-decoration: none;
	border:2px solid transparent;
	border-bottom: 2px solid black;
}
div.header a:hover{

	border-radius: 5px;
	border:2px solid #fff;
}
div.banner{
	background: url('../images/HP.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	height: 80vh;
}
div.homepageContainer{
	width:100%;
	max-width: 1000px;
	margin: 0 auto;
}
div.bannerHeader h1{
	font-size: 100px;
	color: #f685a1;	
	line-height: 100%;
	text-align: right;
	margin-top: 10%;
}
div.bannerHeader p{
	font-size: 40px;
	color: #f685a1;	
	text-transform: uppercase;
	line-height: 100%;
	text-align: right;
}
p.bannerTagline{
	margin-top:20px;
	font-size: 25px;
	color:#fff;
	text-align: right;
}
div.bannerIcons{
	margin-top:100px;
}
div.bannerIcons a{
    font-size: 23px;
    margin-left: 40px;
    padding: 7px 15px;
    background: gold;
    color:black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
}
div.bannerIcons a:first-child{
	margin-left: 0px;
}
div.bannerIcons a:hover{
	color: #fff;
	font-size: 25px;
	background: #337AB7;
	transition: .5s all;
}

div.homepageFeatures{
	display: flex;
	flex-direction: row;
	padding: 50px 0px;
}
div.homepageFeature{
	padding:10px 20px;
	text-align: center;
	width:33.33%;
}
div.homepageFeature:hover{
	border-top: 2px solid #f8a4b9;
	border-bottom: 2px solid #f8a4b9;
	transition: 0.5s all;
}
div.homepageFeature span.featureIcon{
	height: 80px;
	width:80px;
	display: inline-block;
	font-size:50px;
	background: #f685a1;
	color:#fff;
	padding-top: 5px;
	border-radius: 50%;
	margin-bottom: 20px;
}
div.homepageFeature h3.featureTitle{
	margin-bottom: 20px;
	font-size: 23px;
}
div.homepageFeature p.featureDescription{
	color: #848484;
	font-size: 18px;
}
div.homepageNotified{
	background: #e3e3e3;
	padding:80px 0px;
}
div.homepageNotifiedContainer{	
	display: flex;
	flex-direction: row;
}
div.emailForm h3{
	font-size: 25px;
}
div.emailForm{
	width:40%;
}
div.video{
	width: 60%;
	text-align: center;
}
div.homepageNotified h3{
	margin-bottom: 20px;
}
div.homepageNotified p{
	color: #848484;
	line-height: 200%;
	margin-bottom: 30px;
}
div.formContainer{
	width: 80%;	
	position: relative;
}
div.formContainer input{
	width:100%;
	padding:15px 10px;
	border-radius: 15px;
	border: none;
}
div.formContainer input:focus{
	outline: none;
}
div.formContainer button{	
	position: absolute;
	right:0;
	top:0;
	height: 100%;
	font-size: 22px;
	padding: 0px 10px;
	background: #f685a1;
	border: none;
	color: #fff;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
iframe{
	width:80%;
	height: 100%;
}

div.socials{
	text-align: center;
	padding: 70px 0 40px 0px;
}
h3.socialHeader{
	font-size: 30px;
}
p.socialText{
	margin-top: 20px;
	margin-bottom: 25px;
	color:#848484;
	font-size: 20px;
}
div.socialIconsContainer a{
	font-size: 23px;
	height: 50px;
	width:50px;
	display: inline-block;
	padding-top: 7px;
	background: #d4d4d4;
	border-radius: 50%;
	color: #fff;
	margin-left:20px;
}
div.socialIconsContainer a:hover{
	background: #f8a4b9;
	transition: 0.3s all;
}
div.footer{
	background: #e3e3e3;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
div.footer a{
	color: #848484;
	margin-left: 30px;
	text-decoration: none;
}
div.footer a:hover{
	font-weight: bold;
	color: #f8a4b9;
	transition: 0.5s all;
}







/* DASHBOARD STYLE */
#dashboardMainContainer{	
	display: flex;
	flex-direction: row;
}

#dashboardContent {
	/* Add your content styles here */
	overflow-y: auto; /* Add a vertical scroll bar for the content */
	height: 100vh; /* Set a fixed height for the content area */
}


div.dashboard_content{
	padding: 30px 10px 10px 10px;
}

div.dashboard_sidebar{
	width:16%;
	background: #323232;
	/* height: 110vh; */
}

/* Increase text size to 8 */
.menuText, .subMenu, .subMenuLink {
	font-size: 13px;
}

div.dasboard_content_container{
	width:100%;
	background: black;
	/* height: 110vh; */
}
h3.dashboard_logo{
	padding-top: 10px;
	color: gold;
	text-align: center;
}
div.dashboard_sidebar_user{
	text-align: center;
	position: relative;
	padding: 10px 10px;
	border-bottom: 2px solid #fff;
}
div.dashboard_sidebar_user img{
	width:80px;
	display: inline-block;
	border-radius: 50%;
	border:2px solid #f685a1;
	margin-right:5px;
	vertical-align: middle;
}


div.jayann_logo{
	padding: 5px 5px;
	text-align: center;
	position: relative;
	border-bottom: 2px solid #fff;
}
div.jayann_logo img{
	width:80px;
	display: inline-block;
	border-radius: 50%;
	border:2px solid #f685a1;
	margin-right:5px;
	vertical-align: middle;
}



div.dashboard_sidebar_user span{
	top:20%;
	font-size:18px;
	text-transform: uppercase;
	color:#fff;
	display: inline-block;
}
ul.dashboard_menu_lists{
	margin-top:30px;
}
ul.dashboard_menu_lists li.liMainMenu{
	padding-top: 13px;
	text-transform: uppercase;
	padding-bottom: 14px;
}
ul.dashboard_menu_lists li.liMainMenu a{
	text-decoration: none;
	color: #fff;
	display: block;
	font-size: 15px;
	padding: 0px 15px;
	padding-right: 0px;
}
ul.dashboard_menu_lists li.liMainMenu a i{
	font-size: 23px;
	width:30px;
}
ul.dashboard_menu_lists li.menuActive{
	background: #337AB7;
	color: #fff;
}

ul.dashboard_menu_lists li:hover{
	background: #337AB7;
	color: #fff;
	transition: 0.6s all;
	border-radius: 20px;  
	display: block;
}




/*Dropdown settings*/

div.dashboard_topNav{
	background: #55b0cf;
	padding: 6px;


}
div.dashboard_topNav a{
	color: black;
	font-size:20px;
	text-decoration: none;
}

.givemeabreak {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10px;
  }
  
  .givemeabreak > div {
	margin-right: 10px;
  }
  
  .givemeabreak > div:last-child {
	margin-right: 0;
	margin-left: auto;
  }
  

div.time{
	text-align: center;
}

a#clockbox{
	float: center;
	text-align: center;
}




/* */

div.dashboard_content_main{
	background: #fff;
	height:100%;
	border: 1px solid #cdcdcd;
	padding-left: 20px;
	padding-bottom: 25px;
	height: auto;
}

div#errorMessage{
    background: #fff;
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 11px;
}
form::after{
	content: '';
	clear: both;
	display: block;
}
form.appForm{
	width:90%;
	margin: 0 auto;
	padding:10px;
	border:1px solid #cecfd0;
	border-radius: 5px;
	background: #f4f6f9;
}
form label{
    font-weight: bold;
    text-transform: uppercase;
}
form input.appFormInput, select.appFormInput {
	width: 100%;
    height: 33px;
    border: 1px solid #d6d7da;
    border-radius: 5px;
}
div.appFormInputContainer{
	margin-bottom: 15px;
}
div#userAddFormContainer{
	padding-top: 30px;
}
button.appBtn{
    background: #337Ab7;
    border: 1px solid #337AB7;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    float:right;
}
p.responseMessage{
	font-size: 18px;
    text-align: center;
    margin-top: 33px;
    padding: 20px;
}
p.responseMessage__error{
	background: rgba(128, 0, 0, 0.1);
}
p.responseMessage__success{
    background: rgba(0, 128, 0, 0.1);	
}


/* User Add Page */
div.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
div.column{
	width: 100%;
	padding:0px 10px;
}
div.column-5{
	width: 41.67%;
}
div.column-7{
	width: 58.33%;
}


h1.section_header{
	font-size: 21px;
    color: black;
	background-color: #62bad7;
	padding-right: 100px;
    border-bottom: 1px solid #ffd7e1;
    padding-bottom: 11px;
    padding: 10px;
    border-left: 6px solid black;
    margin-bottom: 15px;
}
table, th, td{    
	border: 1px solid #cacaca;
    border-collapse: collapse;
}
table{
	width:100%;
}




table th{
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	background: #62bad7;
	color: #191111;
}



table td{
    font-size: 13px;
    text-align: center;
    padding:5px;
}
p.userCount{
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #337AB7;
}


/*Sidebar styling function*/
a.subMenuLink{	
    padding-left: 25px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-transform: none;
    font-size: 15px !important;
}

a.subMenuLink i{
	font-size: 16px !important;
	width: 16px !important;
}

ul.subMenus{
	background: #333333;
	display: none;
}

i.mainMenuIconArrow{
	float: right;
	font-size: 19px !important;
	margin-top: 7px;
}

.subMenuActive{
	font-weight: bold;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background: #333333;
}



/* products */
.productTextAreaInput{
    width: 100%;
    height: 75px;
    border-radius: 5px;
    border-color: #d7d7d7;
}

.productImages{
	width: 100px;
	height: 100px;
}

#suppliersSelect, #products{
	display: block;
	width: 100%;
	height: 100px;
	border-color: #d2d2d2;
}

.orderProductBtn{
    background: #d93f65;
    color: #fff;
}
.orderBtn{
	height: 33px;
    border: none;
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 16px;	
}
.submitOrderProductBtn{
	background: #323232;
    color: #ffffff;
    font-weight: bold;
}
.marginTop20{
	margin-top: 20px;
}

.alignRight{
	text-align: right;
}
#orderProductLists{
	margin-top: 20px;
}

.productNameSelect{	
	font-size: 15px;
	border: none;
	background: #fafafa;
	padding: 3px 17px;
	border: 1px solid #b0b0b0;
	border-radius: 2px;
}
div.orderProductRow{	
    padding: 6px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 25px;
    padding-top: 25px;
}
.orderProductQty{
    height: 33px;
    border: none;
    background: #f8f8f8;
    text-indent: 10px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}

#orderProductLists .row{
	margin: 0px !important;
}

/*Supplier*/
#dashboardScroll {
	/* Add your content styles here */
	overflow-y: auto; /* Add a vertical scroll bar for the content */
	height: 100vh; /* Set a fixed height for the content area */
}

#dashboardUserScroll {
	/* Add your content styles here */
	overflow-y: auto; /* Add a vertical scroll bar for the content */
	height: 100vh; /* Set a fixed height for the content area */
}

#dashboardCollect {
	/* Add your content styles here */
	overflow-y: auto; /* Add a vertical scroll bar for the content */
	height: 100vh; /* Set a fixed height for the content area */
}



.suppliersRows .supplierName{
    margin-left: 12px;
    font-size: 15px;
    font-weight: bold;
    color: #a1a1a1;
    text-transform: uppercase;
}
.suppliersRows .row{
	padding: 8px 0px;
}

.appbtn{
	border: none;
	padding: 4px 8px;
	background: #ff5858;
	border-radius: 2px;
}

.removeOrderBtn{
	background: #ff5858;
	color: #fff;
	float: right;
}

.polist{
	margin-bottom: 25px;
	padding: 15px;
	border-bottom: solid 1px #d1d1d1;
	border-radius: 5px;
	background: #fbfbfb;
}

.poList p{
	font-weight: bold;
	text-transform: uppercase;
	color: #337AB7;
	font-size: 16px;
}


.polist table td, poList table th{
	border: none;
	border-bottom: 1px dotted #b7b7b7;
}

.polist table td{
	padding: 13px 14px;
	font-size: 13px;
}

.poOrderUpdateBtnContainer{
	margin-top: 15px;
}

.updatePoBtn{
	color: black;
	background: #fff;
	border: 1px solid #337AB7;
}

.updatePoBtn:hover{
	color: #fff;
	border-radius: 10px;
	transition: 0.6s all;
	background: #337AB7;
}

.cancelPoBtn{
	color: black;
	background: #fff;
	border: 1px solid #337AB7;
}

.cancelPoBtn:hover{
	color: #fff;
	border-radius: 10px;
	transition: 0.6s all;
	background: #e25858;
}

.po-badge{
	padding: 4px 6px;
	border: 1px solid green;
	background: #b5ebb5;
}

.po-badge-pending{
	background: yellow;
	border-color: #556455;
	}
	
.po-badge-completed{
	background: #b5ebb5;
	border-color: green;
}

.po-badge-cancelled{
	background: rgb(226, 88, 88);
	color: black;
	border-color: #a3a3a3;
}

.reportType .categoryContainer {
    overflow: auto;
    height: 40px;
}

.reportType .categoryList {
    white-space: nowrap;
}

.reportType .categoryList select {
    width: auto;
    display: inline-block;
}

.categoryContainer {
    display: flex;
}

.categoryColumn {
    flex: 1;
    padding-right: 10px;
}


/*users*/
#go-bold {
	font-weight: bold; /* Apply bold styling */
}



/* pie chart */
.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

input[type="number"] {
    min-width: 50px;
}




div.co150{
	width: 50%;
}

div.dashboard_content_main{
	display: flex;
	flex-direction: row;
}

.appDeliveryHistory{
	border: 1px solid #337AB7;
	background: none;
}

.appDeliveryHistory:hover{
	background: #337AB7;
	color: #fff;
}

.deliveryHistoryTable{
	font-size: 14px;
	padding: 10px 20px;
}
 
.reportTypeContainer{
	display: flex;
	justify-content: flex-start;
	padding: 10px 31px;
}

.reportType{
	border: 1px solid #c2c6c2;
	padding: 10px 24px;
	border-radius: 4px;
	font-size: 14px;
	margin-left: 21px;
	width: 100%;
}


.reportExportBtn{
	padding: 4px 15px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	background: #337AB7;
	color: white;
	margin-left: 13px;
	font-size: 11px;
}

.reportExportBtn:hover{
	border: 1px solid #337AB7;
	background: #fff;
	color: #337AB7;
}
	
.reportType p{
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 10px;
	color: black;
}




/* POS */
.pos-body {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
  }
  
  .pos-title {
	text-align: center;
	color: white;
	margin-top: 5px;
  }
  
  .pos-container {
	display: flex;
	justify-content: center;
	margin: 15px;
	background-color: #b1d4e0;
	padding: 20px;
	height: 75%;
  }
  
  .pos-column {
	width: 60%;
	margin-right: 20px;
  }
  
  .pos-category select,
  .pos-search input[type="text"],
  .pos-products {
	margin-bottom: 20px;
  }
  
  .pos-category select,
  .pos-search input[type="text"] {
	width: 100%;
	padding: 10px;
	background-color: white;
	border: none;
  }
  
  .pos-products {
	height: 340px;
	overflow-y: auto;
  }
  .pos-products2 {
	height: 82%;
	overflow-y: auto;
  }
  .pos-products2-cart {
	height: 200px;
	overflow-y: auto;
  }
  .product-list {
	width: 100%;
  }
  
  .product-list th,
  .product-list td {
	text-align: left;
	padding: 10px;
  }
  
  .product-list th {
	background-color: #333;
	color: white;
  }
  
  .product-list td {
	background-color: #f2f2f2;
  }
  
  .pos-cart {
	background-color: #f2f2f2;
	padding: 10px;
  }
  
  .cart-items {
	width: 100%;
  }
  
  .cart-items th,
  .cart-items td {
	text-align: left;
	padding: 10px;
  }
  
  .cart-items th {
	background-color: #333;
	color: white;
  }
  
  .cart-items td {
	background-color: white;
  }
  
  .cart-total {
	text-align: right;
	margin-top: 10px;
  }
  
  .cart-discount {
	margin-top: 10px;
  }
  
  .cart-discount label,
  .cart-discount input[type="number"] {
	vertical-align: middle;
  }
  
  .cart-checkout {
	text-align: center;
	margin-top: 10px;
  }
  
  .cart-checkout button {
	padding: 10px 20px;
	background-color: #333;
	color: white;
	border: none;
	cursor: pointer;
  }
  
  .cart-checkout button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
  }
  
  .product-pro {
	font-family: Arial, sans-serif;
	font-size: 25px;
	font-weight: 400;
  }
  

/* Modal POS img
/* Modal styles 
.modalistiko {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
  }
  
  /* Close button styles 
  .close {
	color: #ccc;
	float: right;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
  }
  
  .close:hover,
  .close:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
  }
  


  /*MOdal add to cart*/
/* Add styles for the modal and backdrop */
#cartModal {
	display: none;
	position: fixed;
	width: 300px;
	height: 200px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 20px;
	z-index: 9999;
  }
  
  #backdrop {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9998;
  }

  

/* Modal styles forget password */
.modals {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8); /* Darken the background */
  }
  
  .modal-content-cutie {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  }
  
  /* Blur effect */
  .blurred {
	filter: blur(5px);
  }

.closed {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closed:hover,
.closed:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* Form Styles */
.form-controling {
    position: relative;
    margin-bottom: 20px;
}

.form-controling input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-color 0.4s;
}

.form-controling input:focus {
    border-bottom: 1px solid #3e8e41;
}

.form-controling label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.4s;
}

.form-controling input:focus ~ label,
.form-controling input:valid ~ label {
    top: -15px;
    font-size: 12px;
    color: #3e8e41;
}

.loginButtonContainers {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
	
}


.loginButtonContainers li {
    display: inline;
    margin-right: 10px;
}

div.loginButtonContainers a{
	padding-top: 16px;
	color: whitesmoke;
}

.loginButtonContainers button,
.loginButtonContainers a {
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.loginButtonContainers button:hover,
.loginButtonContainers a:hover {
    background-color: #45a049;
}

/* Additional Styles */
#errorMessage {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}
  
  
  